language: python
python:
    - pep8
    - py27
    - functional

before_install:
  - pip install tox
  - mysql -e 'CREATE DATABASE IF NOT EXISTS my_dev;'

services:
  - mysql

matrix:
  include:
    - python: 2.7
      env: TOX_ENV=pep8
    - python: 2.7
      env: TOX_ENV=py27
    - python: 2.7
      env: TOX_ENV=venv

script:
  - ARGS=''
  - if [[ $TOX_ENV == 'venv' ]]; then ARGS='my-dev-migrate --config-file etc/my-dev-server/my-dev-server.conf''; fi
  - tox -e "${TOX_ENV}" -- $ARGS
