language: python

before_install:
  - git clone https://github.com/esikachev/my-dev-ci-config.git

services:
  - mysql

os:
  - linux
  - osx

matrix:
  include:
    - python: 2.7
      env: TOX_ENV=pep8
    - python: 2.7
      env: TOX_ENV=py27
    - python: 2.7
      env: TOX_ENV=migration
    - python: 2.7
      env: TOX_ENV=api
    - python: 2.7
      env: TOX_ENV=functional-client
    - python: 2.7
      env: TOX_ENV=cli-client

script:
  - my-dev-ci-config/runner.sh

after_script:
  - if [ -f my-dev-server-logs ]; then
      cat my-dev-server-logs;
    fi  
