language: python

cache:
    pip

before_install:
  - pip install tox
  - mysql -e 'CREATE DATABASE IF NOT EXISTS my_dev;'

services:
  - mysql

matrix:
  include:
    - python: 2.7
      env: TOX_ENV=pep8
    - python: 2.7
      env: TOX_ENV=py27
    - python: 2.7
      env: TOX_ENV='venv --  my-dev-migrate --config-file etc/my-dev-server/my-dev-server.conf'

script:
  - tox -e "${TOX_ENV}"
