language: python

before_install:
  - git clone https://github.com/esikachev/my-dev-ci-config.git -b feature

services:
  - mysql

matrix:
  include:
    - python: 2.7
      env: TOX_ENV=pep8
      sudo: required
    - python: 2.7
      env: TOX_ENV=py27
      sudo: required
    - python: 2.7
      env: TOX_ENV=migration
      sudo: required
    - python: 2.7
      env: TOX_ENV=api
      sudo: required
    - python: 2.7
      env: TOX_ENV=functional-client
      sudo: required
    - python: 2.7
      env: TOX_ENV=cli-client
      sudo: required

script:
  - my-dev-ci-config/runner.sh

after_script:
  - if [ -f my-dev-server-logs ]; then
      cat my-dev-server-logs;
    fi  
