language: python

before_install:
  - pip install tox
  - sudo apt-get install -y tmux
  - mysql -e 'CREATE DATABASE IF NOT EXISTS my_dev;'

services:
  - mysql

matrix:
  include:
    - python: 2.7
      env: TOX_ENV=pep8
    - python: 2.7
      env: TOX_ENV=py27
    - python: 2.7
      env: TOX_ENV=venv
    - python: 2.7
      env: TOX_ENV=functional

script:
  - if [[ $TOX_ENV == 'functional' ]];
    then
      sed -i '/log_dir=/c\log_dir=/home/travis/build/esikachev/my-dev-server' etc/my-dev-server/my-dev-server.conf;
      tox -e venv -- my-dev-migrate --config-file etc/my-dev-server/my-dev-server.conf;
      tmux new -d 'tox -e venv -- my-dev-server --config-file etc/my-dev-server/my-dev-server.conf >> my-dev-server-logs';
      cat my-dev-server-logs
    fi
  - ARGS=''
  - if [[ $TOX_ENV == 'venv' ]]; 
    then 
      ARGS='my-dev-migrate --config-file etc/my-dev-server/my-dev-server.conf';
      sed -i '/log_dir=/c\log_dir=/home/travis/build/esikachev/my-dev-server' etc/my-dev-server/my-dev-server.conf;
    fi
  - tox -e "${TOX_ENV}" -- $ARGS
  
